<h2>1. for문</h2>
{% for food in my_list %}
  <!-- 1부터 count 해줌 -->
  <p>{{ forloop.counter }}. {{ food }}</p>
{% endfor %}
<hr>

{% for data in empty_list %}
  <p>data</p>
<!-- empty: 리스트가 비어있는지 확인 가능 -->
{% empty %}
  <p>비어있습니다.</p>
{% endfor %}
<hr>


<h2>2. 조건문</h2>
{% for food in my_list %}
  {% if food == '짜장면' %}
    <p>짜장면엔 고춧가루지</p>
  {% else %}
    <P>{{ food }}</P>
  {% endif %} 
{% endfor %}

{% for food in my_list %}
  <!-- 첫번째 원소/ first와 last만 있음 -->
  {% if forloop.last %}
    <p>{{ forloop.first }}</p>
    <p>{{ forloop.last }}</p>
    <p>짜장면엔 고춧가루지</p>
  {% else %}
    <P>{{ food }}</P>
  {% endif %} 
{% endfor %}

<h2>3. filter 활용</h2>
  <!-- | : 파이프라인 필터 -->
  <p>{{ my_string|lower }}</p>
  <p>{{ my_string|upper }}</p>
  <!-- 띄어쓰기 기준으로 처음 나오는 문자만 대문자로 변경 -->
  <p>{{ my_string|title }}</p>
  <p>{{ my_string|length }}</p>
  <!-- truncate: 자르다 words) ... 제외한 단어수 chars) ... 포함한 문자수 -->
  <!-- => CSS문자열 제한에 사용! -->
  <p>{{ my_string|truncatewords:3 }}</p>
  <p>{{ my_string|truncatechars:10 }}</p>
  <hr>

  <!-- 내용 채울 때 사용 -->
  <h2>4. lorem ipsum</h2>
  <p>{% lorem %}</p>
  <p>{% lorem 3 w %}</p> <!-- 3 단어만 출력 -->
  <p>{% lorem 3 p %}</p> <!-- 3 문단만 출력 -->


